<h2>Settings</h2>
<% form_for(@citizen) do |f| -%>
  <div id="citizen-basic-info-form">
    <h3>Basic Information</h3>
    <p>
      <%= f.label :login %><br/>
      <%= f.text_field :login %>
    </p>
    <p>
      <%= f.label :first_name %><br/>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %><br/>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </p>
  </div>
  <div id="citizen-location-form">
    <h3>Location</h3>
    <div id="citizen-main-constituencies">
      <p>
        <%= f.label :region, 'Country' %><br/>
        <%= f.select :country_id, Country.all.collect{|c| [c.printable_name, c.id]} %>
      </p>
      <p>
        <%= render :partial => "/regions/region_select", :locals => {:country => @citizen.country, :citizen => @citizen}%>
      </p>
    </div>
    <p>
      <%= f.label :street, 'Address' %><br/>
      <%= f.text_field :street %>
    </p>
    <p>
      <%= f.label :street_2, 'Apt Number' %><br/>
      <%= f.text_field :street_2 %>
    </p>
    <p>
      <%= f.label :postal_code %><br/>
      <%= f.text_field :postal %>
    </p>
  </div>
  <div id="citizen-password-reset">
    <h3>Password Reset</h3>
    <p>
      <%= f.label :change_password %><br/>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :change_password_confirmation %><br/>
      <%= f.password_field :password_confirmation %>
    </p>
  </div>
  <%= f.submit "Save Settings" %>
<% end %>