<div id="citizen-main-constituencies-county">
<% @region = @region || region %>
<% @citizen = current_citizen%>
<% if !@region.nil? %>
  <% if !@region.counties.empty? %>
    <%= label :county, 'County' %>
    <%= select_tag :county, options_for_select(@region.counties.collect{|county| [county.name, county.id]}.unshift(["Not Listed", 0]).uniq, @citizen.county) %><br />
    (Not seeing your County? <%= text_field_tag :county_named %>)
  <% else %>
    <%= label :county, 'County' %><br/>
    <%= text_field_tag :county_named %>
  <% end %>
<% end %>
</div>