<h1>New candidate</h1>

<% form_for(@candidate) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :citizen_id %><br />
    <%= f.text_field :citizen_id %>
  </p>
  <p>
    <%= f.label :constituency_id %><br />
    <%= f.text_field :constituency_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', candidates_path %>